.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 280px;
}

.search-bar__input {
  border: #c7c7c7 solid 1px;
  padding: 9px;
  margin-right: 5px;
}
.icon-search {
  color: #c7c7c7;
}

.search-input {
  border: none;
  outline: none;
  margin-left: 5px;
  width: 80%;
}
