<div class="search-bar">
  <div class="search-bar__input">
    <span class="icon-search"></span>
    <input
      name="search"
      placeholder="Search..."
      class="search-input"
      [(ngModel)]="searchString"
    />
  </div>
  <div class="search-bar__button">
    <span class="button button_secondary" (click)="textInput()">Go</span>
  </div>
</div>
