.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.menu-burger__header {
  position: absolute;
  z-index: 3;
  top: 15px;
  right: 15px;
}

.menu-burger__header span,
.menu-burger__header:after,
.menu-burger__header:before {
  height: 3px;
  width: 100%;
  position: absolute;
  background: #54cac6;
  margin: 0 auto;
  transition: 0.5;
}
.menu-burger__header span {
  top: 16px;
}
.menu-burger__header:after,
.menu-burger__header:before {
  content: "";
}
.menu-burger__header:after {
  bottom: 5px;
}
.menu-burger__header:before {
  top: 5px;
}

.menu-burger__header.open-menu span {
  opacity: 0;
  transition: 0.5s;
}
.menu-burger__header.open-menu:before {
  transform: rotate(38deg);
  top: 16px;
  transition: 0.4s;
}
.menu-burger__header.open-menu:after {
  transform: rotate(-38deg);
  bottom: 16px;
  transition: 0.4s;
}

.header__inner-container {
  width: 80vw;
}

@media (max-width: 760px) {
  .menu-burger__header {
    width: 40px; /* определяем размеры блока */
    height: 35px;
    display: block;
  }
}
