<header class="header">
  <div
    class="menu-burger__header"
    [class.open-menu]="showBurgerMenu"
    (click)="showBurgerMenu = !showBurgerMenu"
  >
    <span></span>
  </div>
  <div class="header__inner-container">
    <div class="logo-user-container">
      <div class="logo-container">
        <a [routerLink]="routesConfig.routes.home">
          <img
            src="../../../../../assets/img/logo.jpg"
            alt="Medical research"
            class="logo"
          />
        </a>
      </div>

      <div class="user-container">
        <div class="user-logo-container">
          <img
            *ngIf="!isLoggedIn"
            [src]="defaultAvatarURL"
            alt="user logo"
            class="user-logo"
          />
          <img
            *ngIf="isLoggedIn"
            [src]="userAvatarURL"
            alt="user logo"
            class="user-logo"
          />
        </div>
        <div class="user-name-container">
          <span *ngIf="isLoggedIn" class="user-name">{{
            currentUser?.firstName + " " + currentUser?.lastName
          }}</span>
          <a
            *ngIf="!isLoggedIn"
            [routerLink]="routesConfig.routes.auth.logIn"
            class="user-name"
          >
            Log In
          </a>
        </div>
        <div *ngIf="isLoggedIn" class="user-more-button-container">
          <span class="more-info-button" (click)="showMoreInfo = !showMoreInfo">
            &#9013;
          </span>
          <div *ngIf="showMoreInfo" class="user-options">
            <div class="user-options__item" (click)="redirectToAccount()">
              <span class="user-options__link">My account</span>
            </div>
            <div class="user-options__item" (click)="logout()">
              <span class="user-options__link">Log out</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="primary-navigation-container"
      [class.open-menu]="showBurgerMenu"
    >
      <nav class="primary-navigation">
        <ul class="primary-navigation__list">
          <li class="primary-navigation__item">
            <a
              [routerLink]="routesConfig.routes.home"
              class="primary-navigation__link"
              routerLinkActive="primary-navigation__link_active"
              (click)="showBurgerMenu = false"
              >Home</a
            >
          </li>
          <li *ngIf="!isLoggedIn" class="primary-navigation__item">
            <a
              [routerLink]="routesConfig.routes.auth.signUp"
              class="primary-navigation__link"
              routerLinkActive="primary-navigation__link_active"
              (click)="showBurgerMenu = false"
              >Sign Up</a
            >
          </li>
          <li *ngIf="!isLoggedIn" class="primary-navigation__item">
            <a
              [routerLink]="routesConfig.routes.auth.logIn"
              class="primary-navigation__link"
              routerLinkActive="primary-navigation__link_active"
              (click)="showBurgerMenu = false"
              >Log In</a
            >
          </li>
          <li *ngIf="isSponsor() || isAdmin()" class="primary-navigation__item">
            <a
              [routerLink]="routesConfig.routes.clinic.clinics"
              class="primary-navigation__link"
              routerLinkActive="primary-navigation__link_active"
              (click)="showBurgerMenu = false"
              >Clinics</a
            >
          </li>
          <li
            *ngIf="isSponsor() || isManager() || isAdmin()"
            class="primary-navigation__item"
          >
            <a
              [routerLink]="routesConfig.routes.medicine.medicines"
              class="primary-navigation__link"
              routerLinkActive="primary-navigation__link_active"
              (click)="showBurgerMenu = false"
              >Medidicines</a
            >
          </li>
          <li *ngIf="isManager() || isAdmin()" class="primary-navigation__item">
            <a
              [routerLink]="routesConfig.routes.supply.supplies"
              class="primary-navigation__link"
              routerLinkActive="primary-navigation__link_active"
              (click)="showBurgerMenu = false"
              >Supply</a
            >
          </li>
          <li
            *ngIf="isSponsor() || isResearcher() || isAdmin()"
            class="primary-navigation__item"
          >
            <a
              [routerLink]="routesConfig.routes.research.researches"
              class="primary-navigation__link"
              routerLinkActive="primary-navigation__link_active"
              (click)="showBurgerMenu = false"
              >Research</a
            >
          </li>
          <li
            *ngIf="isResearcher() || isAdmin()"
            class="primary-navigation__item"
          >
            <a
              [routerLink]="routesConfig.routes.research.newPatient"
              class="primary-navigation__link"
              routerLinkActive="primary-navigation__link_active"
              (click)="showBurgerMenu = false"
              >New Patient</a
            >
          </li>
          <li *ngIf="isAdmin() || isSponsor()" class="primary-navigation__item">
            <a
              [routerLink]="routesConfig.routes.project.projects"
              class="primary-navigation__link"
              routerLinkActive="primary-navigation__link_active"
              (click)="showBurgerMenu = false"
              >Projects</a
            >
          </li>
          <li *ngIf="isAdmin()" class="primary-navigation__item">
            <a
              [routerLink]="routesConfig.routes.account.users"
              class="primary-navigation__link"
              routerLinkActive="primary-navigation__link_active"
              (click)="showBurgerMenu = false"
              >Accounts</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
