<div class="patient-info-page" *ngIf="patient">
  <section class="main-info-container">
    <h2 class="main-info__title">Patient Information</h2>
    <div class="patient-data-container">
      <div class="data-block">
        <div class="data-block__header">Number:</div>
        <div class="data-block__text">{{ patient.patientNumber }}</div>
      </div>
      <div class="data-block">
        <div class="data-block__header">Sex:</div>
        <div class="data-block__text">{{ sex[patient.sex] }}</div>
      </div>
      <div class="data-block">
        <div class="data-block__header">Date of birthday:</div>
        <div class="data-block__text">
          {{ patient.dateOfBirthday | date }}
        </div>
      </div>
      <div class="data-block">
        <div class="data-block__header">Status:</div>
        <div class="data-block__text">{{ status[patient.status] }}</div>
      </div>
      <div class="data-block">
        <div class="data-block__header">Medicine Type:</div>
        <div class="data-block__text">{{ patient.medicineType }}</div>
      </div>
      <div class="data-block">
        <div class="data-block__header">Last Visit date:</div>
        <div class="data-block__text">
          {{ patient.lastVisitDate | date }}
        </div>
      </div>
    </div>
  </section>
  <section class="visit-container">
    <h3 class="visit__title">Visits</h3>
    <div class="table-section">
      <app-table
        *ngIf="visits"
        [tableHeaders]="tableHeaders"
        [tSource]="visits"
        [NumberOfPropertiesToSkip]="1"
        [MakeEnumeration]="true"
        [EnableDelete]="false"
        [EnableModify]="false"
      >
      </app-table>
    </div>
    <div class="button-container">
      <button
        type="button"
        (click)="performVisit()"
        class="button patient-button"
        [class.button_disabled]="!isPartisipant"
        [disabled]="!isPartisipant"
      >
        Perform visit
      </button>
      <button
        type="button"
        (click)="endPartisipation()"
        class="button button_cancel patient-button"
        [class.button_disabled]="!isPartisipant"
        [disabled]="!isPartisipant"
      >
        End Partisipation
      </button>
    </div>
  </section>
</div>
