.patient-info-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 0px;
  background: #fff;
}

.main-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
}

.main-info__title {
  font-size: 1.8rem;
  color: rgb(70, 130, 180);
  margin-bottom: 30px;
}

.patient-data-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 900px;
  gap: 25px;
  margin-bottom: 30px;
}

.data-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: #aae7c0;
}

.data-block__header {
  margin-left: 5px;
}

.data-block__text {
  background-color: white;
  border: 1px solid black;
  width: 100px;
  padding: 10px;
}

.visit-container {
  width: 80vw;
}

.visit__title {
  font-size: 1.4rem;
  color: rgb(70, 130, 180);
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  column-gap: 20px;
  margin-top: 15px;
}

.patient-button {
  flex: 1;
  max-width: 150px;
  min-width: 100px;
}

@media (max-width: 760px) {
  .main-info__title {
    font-size: 1.6rem;
  }
  .visit__title {
    font-size: 1.2rem;
  }
  .patient-data-container {
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
    column-gap: 0px;
    margin-bottom: 30px;
  }
}
