<section class="contact-block">
  <div class="contact-block__container">
    <div class="contact-information contact-block__contact-information">
      <h2 class="contact-information__title">Contact us</h2>
      <p class="contact-information__text">
        775 Westminster Avenue APT DS<br />Brooklyn, NY, 11230
      </p>
      <p class="contact-information__text">
        <a
          href="mailto:medicalResearch@lab.com"
          class="contact-information__link"
          >medicalResearch@lab.com</a
        >
      </p>
      <p class="contact-information__text">
        <a href="tel:+1 (416) 661-5775" class="contact-information__link">
          +1 (416) 661-5775</a
        >
      </p>
    </div>
    <form
      #contactForm="ngForm"
      (ngSubmit)="sendData(contactForm)"
      class="contact-form"
      ngNativeValidate
    >
      <div class="contact-form__container">
        <div class="form-input form-input__user-name">
          <input
            name="name"
            placeholder="Name"
            class="contact-form__input"
            [(ngModel)]="contactInfo.name"
          />
        </div>
        <div class="form-input form-input__email form-input_required">
          <input
            type="email"
            name="email"
            placeholder="E-mail"
            pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"
            class="contact-form__input"
            [(ngModel)]="contactInfo.email"
            required
          />
        </div>
        <div class="form-input form-input__phone">
          <input
            type="tel"
            name="phoneNumber"
            placeholder="Phone number"
            class="contact-form__input"
            [(ngModel)]="contactInfo.phoneNumber"
          />
        </div>
        <div class="form-input form-input__address">
          <input
            name="address"
            placeholder="Address"
            class="contact-form__input"
            [(ngModel)]="contactInfo.address"
          />
        </div>
        <div class="form-input form-input__topic">
          <input
            name="topic"
            placeholder="Topic"
            class="contact-form__input"
            [(ngModel)]="contactInfo.topic"
          />
        </div>
        <div class="form-input form-input__message form-input_required">
          <textarea
            name="message"
            cols="30"
            rows="7"
            placeholder="Add the message..."
            class="contact-form__input contact-form__message"
            [(ngModel)]="contactInfo.message"
            required
            minlength="20"
          ></textarea>
        </div>
        <div class="form-input__submit-button">
          <button
            type="submit"
            class="button contact-form__submit-button"
            [disabled]="submitButtonDisabled"
            [class.button_disabled]="submitButtonDisabled"
          >
            <span>Send</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
