.contact-block {
  background: #fff;
}

.contact-block__container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  min-height: 350px;
}

@media (max-width: 760px) {
  .contact-block__container {
    flex-direction: column;
    align-items: center;
  }
}

.contact-block__contact-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 60px 0px;
}

.contact-information {
  width: 50%;
}

.contact-information__title {
  font-size: 1.8rem;
  color: rgb(70, 130, 180);
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.contact-information__text {
  text-align: center;
  overflow-wrap: break-word;
  margin-bottom: 20px;
}

.contact-information__link {
  text-decoration: none;
  color: black;
}

@media (max-width: 760px) {
  .contact-information {
    width: 100%;
  }

  .contact-information__title {
    font-size: 1.6rem;
  }
}

.contact-form {
  width: 50%;
  display: flex;
  justify-content: center;
  margin: 60px 0px;
}

.contact-form__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  overflow: hidden;
  max-width: 75%;
}

@media (max-width: 760px) {
  .contact-form {
    width: 100%;
  }

  .contact-form__container {
    max-width: 90%;
  }
}

.contact-form__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  outline: 0;
  padding: 0;
}

.contact-form__message {
  resize: none;
  max-height: 120px;
  min-height: 20px;
}

.form-input {
  min-height: 40px;
}

.form-input__user-name {
  grid-column: 1;
}

.form-input__email {
  grid-column: 2;
}
.form-input__phone {
  grid-column: 1;
}
.form-input__address {
  grid-column: 2;
}
.form-input__topic {
  grid-column: 1/3;
}
.form-input__message {
  grid-column: 1/3;
}

.form-input__submit-button {
  grid-column: 1/3;
  margin-top: 20px;
}

.contact-form__submit-button {
  width: 100%;
}
