.primary-navigation__list {
  display: flex;
  border-top: 4px solid rgb(70, 130, 180);
}

.primary-navigation__item {
  flex: 1;
  text-align: center;
}

.primary-navigation__link {
  display: inline-block;
  width: 100%;
  padding: 20px 0px;
  text-decoration: none;
  color: rgb(70, 130, 180);
}

.primary-navigation__link:not(.primary-navigation__link_active):hover {
  background-color: rgb(235, 235, 235);
  color: #4c8dc3;
}

.primary-navigation__link_active {
  background-color: rgb(70, 130, 180);
  color: white;
}

@media (max-width: 760px) {
  .primary-navigation-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
    background-color: white;
    height: 0px;
    width: 100%;
    transition: all 0.8s ease;
    z-index: 2;
  }

  .primary-navigation {
    overflow: auto;
  }

  .primary-navigation__list {
    flex-direction: column;
  }

  .primary-navigation-container.open-menu {
    height: 100%;
  }
}
