.logo-user-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 15px;
}

.logo-container {
  width: 75px;
  margin-left: 15px;
}

.logo,
.user-logo {
  max-width: 100%;
}

@media (max-width: 760px) {
  .logo-container {
    width: 50px;
    margin-left: 5px;
  }

  .logo-user-container {
    flex-direction: column;
    align-items: center;
  }
}

.user-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-logo-container {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
}

.user-name {
  padding: 0px 15px;
  color: rgb(70, 130, 180);
  font-size: 1rem;
  text-decoration: none;
}

.user-more-button-container {
  position: relative;
  user-select: none;
}

.more-info-button {
  color: rgb(70, 130, 180);
  font-weight: bold;
  cursor: pointer;
}

.user-options {
  position: absolute;
  left: -100px;
  top: 25px;
  border: 1px solid rgb(212, 212, 212);
  background-color: white;
  text-align: center;
  width: 100px;
  transition: 1s linear;
  z-index: 3;
}

.user-options__item {
  padding: 10px 0px;
  cursor: pointer;
}

.user-options__item:first-child::after {
  content: "";
  position: absolute;
  width: calc(100% - 20px);
  bottom: 50%;
  height: 1px;
  left: 10px;
  background-color: rgb(212, 212, 212);
}

.user-options__link {
  text-decoration: none;
  color: rgb(63, 63, 63);
  font-weight: normal;
}

.user-options__item:hover {
  background-color: rgb(240, 240, 240);
}

.user-options_hidden {
  visibility: hidden;
  opacity: 0;
}
