<footer class="footer">
  <div class="footer__inner-container">
    <div class="social-links">
      <div class="social-links__item">
        <a
          href="https://www.facebook.com/groups/521113419362053"
          target="_blank"
          class="social-links__link"
          ><span class="icon icon-facebook"></span
        ></a>
      </div>
      <div class="social-links__item">
        <a
          href="https://twitter.com/ngMedicalResear"
          target="_blank"
          class="social-links__link"
          ><span class="icon icon-twitter"></span
        ></a>
      </div>
      <div class="social-links__item">
        <a
          href="https://www.linkedin.com/in/ng-medical-research"
          target="_blank"
          class="social-links__link"
          ><span class="icon icon-linkedin2"></span
        ></a>
      </div>
    </div>
    <div class="copyright"><span>&#169;</span>2022 Medical research</div>
  </div>
</footer>
