.footer {
  width: 100%;
}

.footer__inner-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.social-links__item {
  display: inline-block;
  margin-right: 5px;
}

.social-links__link {
  text-decoration: none;
  color: black;
}
