<div class="supply-page">
  <section class="supply-actions">
    <form ngNativeValidate #supplyForm="ngForm" class="supply-form">
      <div class="form-input">
        <select
          name="clinicName"
          [(ngModel)]="clinicId"
          class="supplyForm__input select-input"
          required
        >
          <option disabled [ngValue]="null">Choose the clinic</option>
          <option *ngFor="let type of clinicNames" value="{{ type.id }}">
            {{ type.name }}
          </option>
        </select>
      </div>
      <div class="form-input">
        <select
          name="medicineName"
          [(ngModel)]="medicineId"
          class="supplyForm__input select-input"
          required
        >
          <option disabled [ngValue]="null">
            Choose the medicine from stock
          </option>
          <option *ngFor="let type of medicineNames" value="{{ type.id }}">
            {{ type.description }}
          </option>
        </select>
      </div>
      <div class="form-input">
        <input
          type="number"
          name="amount"
          class="supplyForm__input amount-input"
          min="1"
          [(ngModel)]="amount"
          placeholder="Amount"
          required
        />
      </div>
      <div class="form-button">
        <button
          type="button"
          class="button button_secondary"
          (click)="addMedicine(supplyForm)"
        >
          Add Medicine
        </button>
      </div>
    </form>
  </section>

  <section class="table-section">
    <app-table
      *ngIf="supplies; else noData"
      [tSource]="supplies"
      [tableHeaders]="tableHeaders"
      [NumberOfPropertiesToSkip]="1"
      [EnableDelete]="true"
      [EnableModify]="false"
      (deleteEvent)="deleteSupply($event)"
    ></app-table>
    <ng-template #noData>
      <span>{{ userMessage }}</span>
    </ng-template>
    <div class="supply-button">
      <button
        type="button"
        class="button"
        [disabled]="!supplies || supplies.length <= 0"
        [class.button_disabled]="!supplies || supplies.length <= 0"
        (click)="supplyMedicine()"
      >
        Supply Medicine
      </button>
    </div>
  </section>
</div>
