.supply-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 0px;
}

.supply-actions {
  width: 80vw;
  margin-bottom: 25px;
}

.supply-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-input {
  border: 2px solid rgb(151, 151, 151);
}

.supplyForm__input {
  outline: none;
  border: none;
  color: rgb(151, 151, 151);
}

.table-section {
  width: 80vw;
}

.supply-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
}

.amount-input {
  max-width: 70px;
  padding: 8px 20px;
}

.select-input {
  min-width: 260px;
  padding: 7px 20px;
}

@media (max-width: 1080px) {
  .supply-form {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 264px;
    row-gap: 14px;
  }

  .supply-actions {
    display: flex;
    justify-content: center;
  }
}
