.button {
  color: white;
  background-color: rgb(70, 130, 180);
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  text-align: center;
}

.button_secondary {
  background-color: #35c3b1;
}

.button_cancel {
  background-color: #ff4040;
}

.button_disabled {
  background-color: rgb(212, 212, 212);
}
