<section class="new-patient-page">
  <div class="new-patient-container">
    <div class="new-patient-form-container">
      <h2 class="new-patient-title">New Patient</h2>
      <form #newPatientForm="ngForm" ngNativeValidate class="new-patient-form">
        <div class="form-input form-input__number">
          <input
            class="new-patient-input"
            name="patientNumber"
            [(ngModel)]="patientNumber"
            placeholder="Format: {Clinic number}-{4 numbers}"
            required
          />
        </div>
        <div class="form-input form-input__dateOfBirth">
          <input
            type="date"
            class="new-patient-input"
            name="dateOfBirth"
            [(ngModel)]="dateOfBirthday"
            required
          />
        </div>
        <div class="form-input">
          <div class="form-input__gender">
            <label>
              <input
                type="radio"
                name="newPatientForm"
                [(ngModel)]="sex"
                value="0"
              />
              Male</label
            >
            <label>
              <input
                type="radio"
                name="newPatientForm"
                [(ngModel)]="sex"
                value="1"
              />
              Female</label
            >
            <label>
              <input
                type="radio"
                name="newPatientForm"
                [(ngModel)]="sex"
                value="2"
              />
              Other</label
            >
          </div>
        </div>
        <div class="form-input-button">
          <button
            type="button"
            class="button"
            (click)="addPatient(newPatientForm)"
          >
            Add
          </button>
          <span class="user-message">
            {{ userMessage }}
          </span>
        </div>
      </form>
    </div>
    <div class="img-container">
      <img
        src="../../../../../assets/img/doctor.jpg"
        alt="doctor"
        class="new-patient-img"
      />
    </div>
  </div>
</section>
