.new-patient-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px 0px;
  background: #fff;
}

.new-patient-container {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #f4fcfb;
}

.img-container {
  width: 40vw;
}

.new-patient-img {
  max-width: 100%;
  object-fit: cover;
}

@media (max-width: 760px) {
  .img-container {
    display: none;
  }
}

.new-patient-form-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  width: 100%;
}

.new-patient-title {
  font-size: 1.8rem;
  color: rgb(70, 130, 180);
  text-align: center;
  margin-bottom: 30px;
}

.new-patient-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 30px;
  width: 90%;
  max-width: 270px;
}

.form-input {
  width: 100%;
}

.form-input__number::before {
  content: "Patient Number";
  display: block;
  font-size: 0.7rem;
  margin-bottom: 10px;
}

.form-input__dateOfBirth::before {
  content: "Date of birthday";
  display: block;
  font-size: 0.7rem;
  margin-bottom: 10px;
}

.form-input__gender {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}

.new-patient-input {
  width: 100%;
  height: 25px;
  text-indent: 15px;
  outline: 0;
  padding: 0;
  border: 1px solid #101010;
}

.form-input-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-message {
  display: block;
  margin-top: 10px;
  font-size: 0.8rem;
  color: #1cccab;
}
