<div id="clinicModal" class="modal">
  <div class="modal-content">
    <div class="modal-container">
      <h2 class="modal-title">
        {{ action === "add" ? "Add" : "Edit" }} Clinic
      </h2>
      <form class="modal-form" ngNativeValidate #clinicForm="ngForm">
        <div class="input-container">
          <div class="form-input modal-input__name">
            <input
              name="name"
              class="modal-input"
              [(ngModel)]="name"
              placeholder="Enter clinic name"
              required
            />
          </div>
          <div class="form-input modal-input__city">
            <input
              name="city"
              class="modal-input"
              [(ngModel)]="city"
              placeholder="Enter clinic city"
              required
            />
          </div>
          <div class="form-input modal-input__phone">
            <input
              name="phone"
              class="modal-input"
              [(ngModel)]="phoneNumber"
              placeholder="Enter clinic phone"
            />
          </div>
          <div class="form-input modal-input__address">
            <input
              name="address"
              class="modal-input"
              [(ngModel)]="primaryAddress"
              placeholder="Write a clinic address here:"
              required
            />
          </div>
          <div class="form-input modal-input__address2">
            <input
              name="address2"
              class="modal-input"
              [(ngModel)]="secondaryAddress"
              placeholder="Write a clinic address 2 here:"
            />
          </div>
        </div>
        <div class="button-container">
          <button
            *ngIf="action === 'add'"
            type="button"
            (click)="addClinic(clinicForm)"
            class="button modal-button"
          >
            Add
          </button>
          <button
            *ngIf="action === 'edit'"
            type="button"
            (click)="editClinic(clinicForm)"
            class="button modal-button"
          >
            Edit
          </button>
          <button
            type="button"
            class="button button_cancel modal-button"
            (click)="Close(clinicForm)"
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
