.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.modal-title {
  font-size: 1.6rem;
  color: rgb(70, 130, 180);
  text-align: center;
  margin-bottom: 25px;
}

.form-input {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(151, 151, 151);
  min-width: 200px;
}

.input-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.modal-input {
  outline: 0;
  border: none;
  color: rgb(151, 151, 151);
  padding: 5px 10px;
  width: 90%;
}

.button-container {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.modal-button {
  flex: 1;
  margin-left: 20px;
  max-width: 150px;
  min-width: 80px;
}
