.error404-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 0px;
}

.error404__content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80vw;
  min-height: 60vh;
}

.error404-page__title{
  font-size: 2.8rem;
  color: rgb(70, 130, 180);
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.error404-page__subtitle{
  font-size: 1.4rem;
  color: rgb(70, 130, 180);
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}