<div class="error404-page">
  <section class="error404__content">
    <h2 class="error404-page__title">404!</h2>
    <h3 class="error404-page__subtitle">We are sorry, the page you requested cannot be found.</h3>
</section>
</div>