<div id="medicineModal" class="modal">
  <div class="modal-content">
    <div class="modal-container">
      <h2 class="modal-title">
        {{ action === "add" ? "Add" : "Edit" }} Medicine
      </h2>
      <form class="modal-form" ngNativeValidate #medicineForm="ngForm">
        <div class="input-container">
          <div class="form-input modal-input__type">
            <select
              name="type"
              [(ngModel)]="medicine.type"
              class="modal-input"
              required
            >
              <option disabled [ngValue]="''">Choose the medicine type</option>
              <option *ngFor="let type of availableTypes" value="{{ type }}">
                {{ type }}
              </option>
            </select>
          </div>
          <div class="form-input modal-input__expireAt">
            <input
              type="date"
              name="expireAt"
              class="modal-input"
              [value]="medicine.expireAt | date: 'yyyy-MM-dd'"
              (input)="medicine.expireAt = parseDate($event.target)"
              [min]="minDate | date: 'yyyy-MM-dd'"
              required
              title="Choose expiration date"
            />
          </div>
          <div class="form-input modal-input__dosageForm">
            <select
              name="dosageForm"
              [(ngModel)]="medicine.dosageForm"
              class="modal-input"
              required
            >
              <option disabled [ngValue]="''">Choose the dosage form</option>
              <option *ngFor="let f of dosageForms" value="{{ f }}">
                {{ f }}
              </option>
            </select>
          </div>
          <div class="form-input modal-input__container">
            <select
              name="container"
              [(ngModel)]="medicine.container"
              class="modal-input"
              required
            >
              <option disabled [ngValue]="''">Choose container</option>
              <option *ngFor="let c of containers" value="{{ c }}">
                {{ c }}
              </option>
            </select>
          </div>
          <div class="form-input modal-input__state">
            <select
              name="state"
              [(ngModel)]="+medicine.state"
              class="modal-input"
              required
            >
              <option disabled [ngValue]="''">Choose state</option>
              <option *ngFor="let s of states; let i = index" value="{{ i }}">
                {{ s }}
              </option>
            </select>
          </div>
          <div class="form-input modal-input__description">
            <textarea
              name="description"
              class="modal-input input-description"
              placeholder="Write a medicine description here:"
              [(ngModel)]="medicine.description"
              required
            ></textarea>
          </div>
        </div>
        <div class="button-container">
          <button
            *ngIf="action === 'add'"
            type="button"
            (click)="addMedicine(medicineForm)"
            class="button modal-button"
          >
            Add
          </button>
          <button
            *ngIf="action === 'edit'"
            type="button"
            (click)="editMedicine(medicineForm)"
            class="button modal-button"
          >
            Edit
          </button>
          <button
            type="button"
            class="button button_cancel modal-button"
            (click)="Close(medicineForm)"
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
