.input-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 15px;
  width: 100%;
}

.input-description {
  resize: none;
  overflow: auto;
  width: 90%;
  height: 90%;
}

.modal-input__type {
  grid-column: 1;
}

.modal-input__expireAt {
  grid-column: 2;
}
.modal-input__dosageForm {
  grid-column: 1;
}

.modal-input__container {
  grid-column: 1;
}

.modal-input__state {
  grid-column: 1;
}
.modal-input__description {
  grid-column: 2;
  grid-row: 2/5;
}

@media (max-width: 760px) {
  .input-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 3fr;
    grid-row-gap: 10px;
    width: 100%;
  }

  .modal-input__expireAt {
    grid-column: 1;
  }

  .modal-input__description {
    grid-column: 1;
    grid-row: 6/8;
  }
}
