<section class="current-topics" *ngIf="currentSlides.length > 0">
  <div class="current-topics__container">
    <div class="current-topics__header">
      <h2 class="current-topics__title">Research projects</h2>
      <p class="current-topics__text">Our current topics</p>
    </div>
    <div class="medical-research-slider">
      <article
        class="medical-research-slider__slide slide"
        *ngFor="let slide of currentSlides"
      >
        <img [src]="getImageURL(slide)" alt="slider img" class="slide__image" />
        <div class="slide__item-content-container">
          <h3 class="slide__title">{{ slide.title }}</h3>
          <p class="slide__text">{{ slide.dateOfNews | date }}</p>
          <a routerLink="/project/{{ slide.id }}" class="button slide__button"
            >Read More</a
          >
        </div>
      </article>
    </div>
  </div>
</section>
