.current-topics {
  background-color: rgba(243, 252, 251, 0.986);
}

.current-topics__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.current-topics__title {
  font-size: 1.8rem;
  color: rgb(70, 130, 180);
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
}

.medical-research-slider {
  display: flex;
  justify-content: center;
}

@media (max-width: 760px) {
  .medical-research-slider {
    flex-direction: column;
  }
}
.slide {
  flex: 1;
}

.slide__image {
  object-fit: cover;
  width: 100%;
  height: 400px;
}

.slide__title {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 15px;
}

.slide__text {
  font-size: 1.2rem;
  color: white;
  margin-bottom: 45px;
}

.slide__button {
  text-decoration: none;
}

.medical-research-slider__slide {
  position: relative;
  height: 400px;
}

.slide__item-content-container {
  position: absolute;
  top: 50%;
  left: 15px;
}
