.error403-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 0px;
}

.error403__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80vw;
  min-height: 60vh;
}

.error403-page__title {
  font-size: 2.8rem;
  color: rgb(70, 130, 180);
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.error403-page__subtitle {
  font-size: 1.4rem;
  color: rgb(70, 130, 180);
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
