<div id="medicineModal" class="modal">
  <div class="modal-content">
    <div class="modal-container">
      <h2 class="modal-title">Edit User</h2>
      <form class="modal-form" ngNativeValidate #userForm="ngForm">
        <div class="input-container">
          <div class="form-input">
            <input
              class="modal-input"
              name="email"
              [(ngModel)]="email"
              disabled
            />
          </div>
          <div class="form-input">
            <select name="role" [(ngModel)]="role" class="modal-input" required>
              <option disabled [ngValue]="''">Choose the role</option>
              <option *ngFor="let role of roles" value="{{ role }}">
                {{ role }}
              </option>
            </select>
          </div>
          <div class="form-input">
            <label for="isLocked" class="modal-input"
              >Locked:
              <input
                type="checkbox"
                name="isLocked"
                id="isLocked"
                [(ngModel)]="isLocked"
            /></label>
          </div>
          <div *ngIf="role === 'Researcher'" class="form-input">
            <select
              name="clinicId"
              [(ngModel)]="clinicId"
              class="modal-input"
            >
              <option disabled [ngValue]="null">Choose clinic</option>
              <option value="">-</option>
              <option *ngFor="let clinic of clinics" value="{{ clinic.id }}">
                {{ clinic.name }}
              </option>
            </select>
          </div>
          <div class="button-container">
            <button
              type="button"
              (click)="editMedicine(userForm)"
              class="button modal-button"
            >
              Edit
            </button>
            <button
              type="button"
              class="button button_cancel modal-button"
              (click)="Close(userForm)"
            >
              Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
