.research-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 0px;
  background: #fff;
}

.table-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  width: 80vw;
}

.table-section {
  width: 80vw;
}

.research-page-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}

.research-page__message {
  font-size: 1.4rem;
  color: rgb(70, 130, 180);
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  max-width: 80vw;
}

@media (max-width: 760px) {
  .table-actions {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    min-height: 100px;
  }
}
