<div
  *ngIf="
    isSponsor() || isAdmin() || (isResearcher() && hasClinic);
    else noClinic
  "
  class="research-page"
>
  <section class="table-actions">
    <app-search-bar (searchEvent)="search($event)"></app-search-bar>
    <div *ngIf="canAdd()" class="table-actions__button">
      <a
        [routerLink]="routesConfig.routes.research.newPatient"
        class="button button_secondary"
        >Add Patient</a
      >
    </div>
  </section>
  <section class="table-section">
    <app-table
      *ngIf="displayedData; else noData"
      [tSource]="displayedData"
      [tableHeaders]="tableHeaders"
      [NumberOfPropertiesToSkip]="1"
      [EnableMoreInfo]="isResearcher() || isAdmin()"
      (moreInfoEvent)="redirectToPatientInfoPage($event)"
    ></app-table>
    <ng-template #noData>
      <span>{{ userMessage }}</span>
    </ng-template>
  </section>
</div>
<ng-template #noClinic>
  <div class="research-page-error">
    <h2 class="research-page__message">
      You have no clinic to work with. Please, wait while clinic will be found
      for you.
    </h2>
  </div>
</ng-template>
