<div class="account-page">
  <section class="account-header">
    <div class="user-photo-name">
      <div class="photo-container" (click)="openFileDialog()">
        <div class="image-camera">
          <span class="icon-camera"></span>
        </div>
        <img [src]="userIcoUrl" alt="user avatar" class="user-avatar" />
        <input
          type="file"
          id="userPhoto"
          name="userPhoto"
          class="avatar-input"
          (change)="readURL($event)"
        />
      </div>
      <span class="user-name">{{ userName }}</span>
    </div>
    <div class="extra-option" (click)="showExtraOptions = !showExtraOptions">
      <span>&#8942;</span>
      <div *ngIf="showExtraOptions" class="extra-option__container">
        <div class="extra-option__item" (click)="removeAccount()">
          <span class="extra-option__text">Remove Account</span>
        </div>
      </div>
    </div>
  </section>
  <section class="account-body">
    <h2 class="body-header">My Account</h2>
    <h3 class="body-title">View and edit your personal info below.</h3>
    <hr class="body-row" />
    <form [formGroup]="accountForm" class="account-form">
      <div data-title="First Name" class="form-input">
        <input
          class="account-form__input"
          appLetterOnly
          [formControl]="firstName"
          maxlength="15"
        />
      </div>
      <div data-title="Last Name" class="form-input">
        <input
          class="account-form__input"
          appLetterOnly
          [formControl]="lastName"
          maxlength="15"
        />
      </div>
      <div data-title="Login Email" class="form-input">
        <input type="email" class="account-form__input" [formControl]="email" />
      </div>
      <div data-title="Initials" class="form-input">
        <input
          class="account-form__input"
          appLetterOnly
          minlength="2"
          maxlength="2"
          [formControl]="initials"
        />
      </div>
      <div data-title="Old Password" class="form-input">
        <input
          type="password"
          class="account-form__input"
          [formControl]="oldPassword"
        />
      </div>
      <div class="form-input space-input"></div>
      <div data-title="New Password" class="form-input">
        <input
          type="password"
          class="account-form__input"
          [formControl]="newPassword"
        />
      </div>
      <div data-title="Confirm Password" class="form-input">
        <input
          type="password"
          class="account-form__input"
          [formControl]="confirmPassword"
        />
      </div>
      <div class="form-input">
        <button
          type="button"
          class="button form-button__submit"
          (click)="updateInfo()"
        >
          Update Info
        </button>
      </div>
    </form>
  </section>
</div>
