.account-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
  background: #fff;
}

.account-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 80vw;
  height: 250px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(51, 102, 145, 1) 78%,
    rgba(35, 70, 100, 1) 97%
  );
}

.user-photo-name {
  display: flex;
  align-items: flex-end;
  margin: 15px;
}

.photo-container {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.image-camera {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: #669bc973;
  color: white;
  transition: 0.6 all;
}

.image-camera:hover {
  opacity: 100;
}

.user-avatar {
  max-width: 100%;
  object-fit: cover;
}

.avatar-input {
  display: none;
}

.user-name {
  display: block;
  color: white;
  font-size: 1.2rem;
}

.extra-option {
  color: white;
  margin: 15px;
}

.account-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 75vw;
  max-width: 500px;
  margin: 25px 0px;
}

.body-header {
  font-size: 1.4rem;
  margin: 10px 0px;
}

.body-title {
  font-size: 0.8rem;
}

.body-row {
  color: #e8e8e8;
  width: 100%;
  margin: 15px 0px 25px 0px;
}

.account-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 25px;
  column-gap: 10px;
}

.form-input {
  min-width: 240px;
}

.form-input::before {
  content: attr(data-title);
  display: block;
  font-size: 0.7rem;
  margin-bottom: 10px;
}

.account-form__input {
  width: 100%;
  height: 25px;
  outline: 0;
  padding: 0;
  border: 1px solid #101010;
  text-indent: 5px;
}

.form-button__submit {
  width: 100%;
}

.extra-option {
  position: relative;
  user-select: none;
  cursor: pointer;
}

.extra-option__container {
  position: absolute;
  left: -50px;
  top: 25px;
  border: 1px solid #e8e8e8;
  background-color: white;
  text-align: center;
  width: 100px;
  transition: 1s linear;
}

.extra-option__item {
  padding: 10px 5px;
  cursor: pointer;
}

.extra-option__text {
  color: black;

  font-size: 0.8rem;
}

.extra-option__item:hover {
  background-color: #e8e8e8;
}

@media (max-width: 760px) {
  .account-header {
    width: 95vw;
  }

  .account-body {
    width: 95vw;
  }

  .user-photo-name {
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }
  .account-form {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .space-input {
    display: none;
  }
}
