.tagline__tagline-container {
  background: url("../../../../../assets/img/tagline/tagline-m.jpg") center
    center no-repeat fixed;
  background-size: cover;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 650px;
}

.tagline__image {
  max-width: 100%;
}

.tagline__title {
  text-transform: uppercase;
  font-size: 2.2rem;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.tagline__text {
  color: white;
  text-align: center;
}
