<section class="tagline">
  <div class="tagline__tagline-container">
    <h1 class="tagline__title">MEDICAL<br />RESEARCH</h1>
    <p class="tagline__text">
      Medical research laboratory on guard for innovation
    </p>
  </div>
</section>
