<table class="table">
  <thead class="table-header">
    <tr class="table-header__row">
      <th *ngIf="MakeEnumeration" class="table-header__data">Number</th>
      <th *ngFor="let heading of tableHeaders" class="table-header__data">
        {{ heading }}
      </th>
      <th
        *ngIf="EnableDelete || EnableModify || EnableMoreInfo"
        class="table-header__data"
      ></th>
    </tr>
  </thead>
  <tbody class="table-body">
    <tr *ngFor="let obj of tSource; let i = index" class="table-body__row">
      <td *ngIf="MakeEnumeration" class="table-body__data" title="Number">
        {{ i + 1 }}
      </td>
      <td
        *ngFor="
          let item of obj
            | keyvalue: unsorted
            | slice: NumberOfPropertiesToSkip;
          let i = index
        "
        class="table-body__data"
        data-title="{{ tableHeaders[i] }}"
      >
        <span *ngIf="isDate(item.value); else noDate">
          {{ item.value | date }}
        </span>
        <ng-template #noDate>
          <span>{{ item.value }}</span>
        </ng-template>
      </td>
      <td
        *ngIf="EnableDelete || EnableModify || EnableMoreInfo"
        class="table-body__data"
      >
        <span
          *ngIf="EnableModify"
          class="icon-pencil table_action"
          (click)="edit(obj)"
        ></span>
        <span
          *ngIf="EnableDelete"
          class="icon-bin table_action"
          (click)="delete(obj.id)"
        ></span>
        <span
          *ngIf="EnableMoreInfo"
          class="icon-info table_action"
          (click)="info(obj.id)"
        ></span>
      </td>
    </tr>
  </tbody>
</table>
