.table {
  width: 100%;
  border: 2px solid #669bc9;
}

.table-header__row {
  background-color: #4682b4;
  color: white;
}

.table-header__data {
  text-align: center;
  vertical-align: middle;
  border-right: 2px solid #669bc9;
  padding: 5px 10px;
  min-width: 90px;
}

.table-body__row:nth-child(2n) {
  background-color: #e8efee;
}

.table-body__row:nth-child(2n + 1) {
  background-color: white;
}

.table-body__row:hover {
  background-color: #e5fbf7;
}

.table-body__data {
  text-align: center;
  vertical-align: middle;
  border-right: 2px solid #669bc9;
  color: #54cac6;
  padding: 5px 10px;
}

.icon-pencil,
.icon-bin {
  font-size: 1.4rem;
}

.table_action {
  margin: 0px 5px;
  color: #4682b4;
  cursor: pointer;
}

@media (max-width: 1080px) {
  .table-header {
    display: none;
  }

  .table-body__data,
  .table-body__row,
  .table,
  .table-body {
    display: block;
  }

  .table-body__data,
  .table-header__data {
    text-align: initial;
    vertical-align: initial;
  }

  .table-body__data {
    border: none;
  }

  .table-body__data::before {
    content: attr(title) ": ";
  }
}
