.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px 0px;
  background: #fff;
}

.login-container {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.img-container {
  width: 40vw;
}

.login-img {
  max-width: 100%;
  object-fit: cover;
}

@media (max-width: 760px) {
  .img-container {
    display: none;
  }
}

.login-form-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  width: 100%;
}

.login-title {
  font-size: 1.8rem;
  color: rgb(70, 130, 180);
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form-input {
  margin-bottom: 10px;
  width: 80%;
  max-width: 450px;
}

.form-input-button {
  margin-bottom: 10px;
}

.login-form__input {
  width: 100%;
  height: 25px;
  outline: 0;
  padding: 0;
  text-indent: 15px;
  border: 1px solid #101010;
}

.login-input__checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}
