<section class="login-page">
  <div class="login-container">
    <div class="img-container">
      <img
        src="../../../../../assets/img/login-img.jpg"
        alt="Girl with red hat"
        class="login-img"
      />
    </div>
    <div class="login-form-container">
      <h2 class="login-title">Log in</h2>
      <form
        #loginForm="ngForm"
        (ngSubmit)="login(loginForm)"
        class="login-form"
      >
        <div class="form-input">
          <input
            type="email"
            name="email"
            placeholder="Enter your E-mail"
            class="login-form__input"
            required
            (input)="loginError = ''"
            [(ngModel)]="email"
          />
        </div>
        <div class="form-input">
          <input
            type="password"
            name="password"
            placeholder="Enter your Password"
            class="login-form__input"
            required
            (input)="loginError = ''"
            [(ngModel)]="password"
          />
        </div>
        <div class="form-input login-input__checkbox">
          <input
            type="checkbox"
            name="rememberMe"
            id="rememberMe"
            [(ngModel)]="rememberMe"
          /><label for="rememberMe"> Remember me </label>
        </div>
        <div class="form-input-button">
          <button type="submit" class="button">Log in</button>
        </div>
        <div *ngIf="loginError.length">
          <div class="alert alert-danger">
            {{ loginError }}
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
