<div class="clinic-page">
  <section class="table-actions">
    <app-search-bar (searchEvent)="search($event)"></app-search-bar>
    <div class="table-actions__button">
      <span class="button button_secondary" (click)="openAddModal()"
        >Add Clinic</span
      >
    </div>
  </section>
  <section class="table-section">
    <app-table
      *ngIf="displayedData; else noData"
      [tSource]="displayedData"
      [tableHeaders]="tableHeaders"
      [EnableDelete]="false"
      [EnableModify]="true"
      (editEvent)="openEditModal($event)"
    ></app-table>
    <ng-template #noData>
      <span>{{ userMessage }}</span>
    </ng-template>
  </section>
</div>

<app-add-edit-clinic
  *ngIf="showModal"
  [action]="modalAction"
  [(showModal)]="showModal"
  [item]="editableItem"
  (addItemEvent)="addClinic($event)"
  (editItemEvent)="editClinic($event)"
></app-add-edit-clinic>
