<section class="register-page">
  <div class="register-container">
    <div class="img-container">
      <img
        src="../../../assets/img/register-img.jpg"
        alt="Girl with red hat"
        class="register-img"
      />
    </div>
    <div class="register-form-container">
      <h2 class="register-title">Register Now</h2>
      <form
        [formGroup]="signUpForm"
        (ngSubmit)="register()"
        class="register-form"
      >
        <div class="form-input">
          <input
            placeholder="Enter your First Name"
            class="register-form__input"
            appLetterOnly="true"
            [formControl]="firstName"
            maxlength="15"
          />
          <div
            *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
            class="alert alert-danger"
          >
            <span>{{ getErrorMessage("firstName") }}</span>
          </div>
        </div>
        <div class="form-input">
          <input
            placeholder="Enter your Last Name"
            class="register-form__input"
            appLetterOnly
            [formControl]="lastName"
            maxlength="15"
          />
          <div
            *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
            class="alert alert-danger"
          >
            <span>{{ getErrorMessage("lastName") }}</span>
          </div>
        </div>
        <div class="form-input">
          <input
            placeholder="Enter your Initial's"
            class="register-form__input"
            minlength="2"
            maxlength="2"
            appLetterOnly
            [formControl]="initials"
          />
          <div
            *ngIf="initials.invalid && (initials.dirty || initials.touched)"
            class="alert alert-danger"
          >
            <span>{{ getErrorMessage("initials") }}</span>
          </div>
        </div>
        <div class="form-input">
          <input
            type="email"
            placeholder="Enter your E-mail"
            class="register-form__input"
            [formControl]="email"
          />
          <div
            *ngIf="email.invalid && (email.dirty || email.touched)"
            class="alert alert-danger"
          >
            <span>{{ getErrorMessage("email") }}</span>
          </div>
        </div>
        <div class="form-input">
          <input
            type="password"
            placeholder="Enter a strong Password"
            class="register-form__input"
            [formControl]="password"
          />
          <div
            *ngIf="password.invalid && (password.dirty || password.touched)"
            class="alert alert-danger"
          >
            <span>{{ getErrorMessage("password") }}</span>
          </div>
          <div
            *ngIf="password.errors && (password.dirty || password.touched)"
            class="alert alert-danger"
          ></div>
        </div>
        <div class="form-input">
          <input
            type="password"
            placeholder="Confirm your Password"
            class="register-form__input"
            [formControl]="confirmPassword"
          />
          <div
            *ngIf="
              confirmPassword.value !== password.value &&
              (confirmPassword.dirty || confirmPassword.touched)
            "
            class="alert alert-danger"
          >
            <div>{{ getErrorMessage("confirmPassword") }}</div>
            <div *ngIf="confirmPassword.value !== password.value">
              *Password and Password confirmation fields should be equal.
            </div>
          </div>
        </div>
        <div class="form-input-button">
          <button type="submit" class="button">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
</section>
