<div class="medicine-page">
  <section class="table-actions">
    <app-search-bar (searchEvent)="search($event)"></app-search-bar>
    <div *ngIf="canAdd()" class="table-actions__button">
      <span class="button button_secondary" (click)="openAddModal()"
        >Add Medicine</span
      >
    </div>
  </section>
  <section class="table-section">
    <app-table
      *ngIf="displayedData; else noData"
      [tSource]="displayedData"
      [tableHeaders]="tableHeaders"
      [EnableDelete]="canDelete()"
      [EnableModify]="canModify()"
      (deleteEvent)="deleteMedicine($event)"
      (editEvent)="openEditModal($event)"
    ></app-table>
    <ng-template #noData>
      <span>{{ userMessage }}</span>
    </ng-template>
  </section>
</div>

<app-add-edit-medicine
  *ngIf="showAddModal"
  [(showModal)]="showAddModal"
  [action]="modalAction"
  [item]="editableItem"
  (editItemEvent)="editMedicine($event)"
  (addItemEvent)="addMedicine($event)"
></app-add-edit-medicine>
