.medicine-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 0px;
  background: #fff;
}

.table-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  margin-bottom: 5px;
}

.table-section {
  width: 80vw;
}

@media (max-width: 760px) {
  .table-actions {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    min-height: 100px;
  }
}
