.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 90%;
}

.modal-title {
  font-size: 1.6rem;
  color: rgb(70, 130, 180);
  text-align: center;
  margin-bottom: 25px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.form-input {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(151, 151, 151);
  width: 230px;
  min-height: 20px;
}

.form-input__image {
  position: relative;
}

.image-camera {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: #669bc973;
  color: white;
  transition: 0.6 all;
}

.image-camera:hover {
  opacity: 100;
}

.modal-input {
  outline: none;
  border: none;
  color: rgb(151, 151, 151);
  padding: 5px 10px;
  width: 90%;
}

.button-container {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  column-gap: 20px;
  width: 100%;
}

.modal-button {
  flex: 1;
  max-width: 107px;
  min-width: 80px;
}

.input-image {
  max-width: 100%;
}

.input-detailedInfo {
  max-height: 200px;
  min-height: 20px;
  resize: vertical;
}
