<div id="projectModal" class="modal">
  <div class="modal-content">
    <div class="modal-container">
      <h2 class="modal-title">
        {{ action === "add" ? "Add" : "Edit" }} Project News
      </h2>
      <form class="modal-form" ngNativeValidate #projectForm="ngForm">
        <div class="input-container">
          <div class="form-input">
            <input
              name="title"
              class="modal-input"
              placeholder="Write a title:"
              [(ngModel)]="title"
              required
            />
          </div>
          <div class="form-input">
            <input
              type="date"
              name="dateOfNews"
              class="modal-input"
              [value]="dateOfNews | date: 'yyyy-MM-dd'"
              (input)="dateOfNews = parseDate($event.target)"
              title="Date of news"
              required
            />
          </div>
          <div class="form-input form-input__image" (click)="openFileDialog()">
            <div class="image-camera">
              <span class="icon-camera"></span>
            </div>
            <img
              [src]="backgroundImgURL"
              alt=""
              class="input-image"
              title="Background img"
            />
            <input
              type="file"
              id="backgroundImg"
              name="backgroundImg"
              hidden
              (change)="readURL($event)"
            />
          </div>
          <div class="form-input">
            <textarea
              name="detailedInfo"
              class="modal-input input-detailedInfo"
              placeholder="Write text here:"
              [(ngModel)]="detailedInfo"
              required
            ></textarea>
          </div>
        </div>
        <div class="button-container">
          <button
            *ngIf="action === 'add'"
            type="button"
            (click)="addProject(projectForm)"
            class="button modal-button"
          >
            Add
          </button>
          <button
            *ngIf="action === 'edit'"
            type="button"
            (click)="editProject(projectForm)"
            class="button modal-button"
          >
            Edit
          </button>
          <button
            type="button"
            class="button button_cancel modal-button"
            (click)="Close(projectForm)"
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
