@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?39xwb8");
  src: url("fonts/icomoon.eot?39xwb8#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?39xwb8") format("truetype"),
    url("fonts/icomoon.woff?39xwb8") format("woff"),
    url("fonts/icomoon.svg?39xwb8#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

html,
body {
  font-family: "Open Sans", sans-serif;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
  content: "\e905";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-search:before {
  content: "\e986";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-linkedin2:before {
  content: "\eaca";
}
