<div class="project-info-page">
  <section *ngIf="project" class="project-container">
    <h2 class="project-title">{{ project.title }}</h2>
    <div class="project-image-container">
      <img [src]="projectImgURL" alt="project image" class="project-image" />
    </div>
    <h3 class="project-date">{{ project.dateOfNews | date: "yyyy-MM-dd" }}</h3>
    <div class="project-text-container">
      <p class="project-text">{{ project.detailedInformation }}</p>
    </div>
  </section>
</div>
