.project-info-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  min-height: 60vh;
}

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
}

.project-title {
  font-size: 1.6rem;
  color: rgb(70, 130, 180);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.project-date {
  font-size: 1.4rem;
  color: rgb(70, 130, 180);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}

.project-image-container {
  max-width: 60vw;
  margin-bottom: 20px;
}

.project-image {
  max-width: 100%;
  object-fit: cover;
}

.project-text {
  text-indent: 25px;
  text-align: justify;
}
