.user-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 0px;
}

.table-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  margin-bottom: 5px;
}

.table-section {
  width: 80vw;
}
