<div class="user-page">
  <section class="table-actions">
    <app-search-bar (searchEvent)="searchByEmail($event)"></app-search-bar>
  </section>
  <section class="table-section">
    <app-table
      *ngIf="displayedData; else noData"
      [tSource]="displayedData"
      [tableHeaders]="tableHeaders"
      [EnableModify]="true"
      (editEvent)="openEditModal($event)"
    ></app-table>
    <ng-template #noData>
      <span>{{ userMessage }}</span>
    </ng-template>
  </section>
</div>

<app-edit-user
  *ngIf="showModal"
  [(showModal)]="showModal"
  [item]="editableItem"
  (editEvent)="editMedicine($event)"
>
</app-edit-user>
